/* initial setup css for page layout************************************************** */
body{
    margin: 0; padding: 0; color: #404040; background-color: white;
    font-family: Georgia sans-serif; margin: 1%;
    font-size: 12pt; /* requirement is to set to font-size: 11pt but 11pt looks very small size on the screen */
    background-image: url("./images/silverware.jpg");
    background-attachment: fixed;
}

a{
    color: #A4A400;
}

h1, h2{
    color: #A4A400; background-color: #F0F0F0; font-weight: normal;
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: underline;
    font-size: 18pt;
    text-transform: uppercase;
    letter-spacing: 0.25em; display: inline-block;
}

h1{
    font-size: 22pt; text-transform: inherit;
    display: inline-block;
}

.header{
    text-align: center;
}

.ingredients ul li{
    background-image: url("./images/pie_icon.gif"); background-repeat: no-repeat;
    list-style: none; padding-left: 3%;
}

.directions ol li ul li{
    background-image: url("./images/pie_icon.gif"); background-repeat: no-repeat;
    list-style: none; padding-left: 3%;
}
.directions p span{
    /* -webkit-text-stroke:1px black; */
    text-decoration: line-through;
}


.user-comments div{
    background-color: #FFFFA8; margin: 2%; font-style: italic;
}


.links ul{
    padding: 0;
}
.links ul li{
    list-style: none;
}

.validation{
    float: right;
}
.copyright{
    clear: both;;
    float: right;

}