/*initial setup */
body{
    background-image: url("./images/background.png");
    font-size: 8pt;font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0; padding: 0;
}

.banner-bg{
    height: 50px; 
    background-image: url("./images/bannerbg.png");
    text-align: center;
}

.banner-bg.banner-center{
    height: 50px; width: 795px; margin: auto;   
}
h1{
    font-size: 24pt;font-weight: bold;text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px #999999;
}

.container{
    width: 800px; border: 4px solid gray; margin: auto; border-radius: 20px;
}
.container div.rotton{
    width: 550px; float: left;
}
.container div.rotton h2{
    font-size: 48pt; height: 83px; background-image: url("./images/rbg.png");
    color: red; margin: 0%; border-radius: 20px 0 0 0;
}
.container div.rotton h2 img{
    height: 83px; border-radius: 20px 0 0 0; float: left;
}
.critic-reviews{
    padding: 1%;
}
.review-left, .review-right{
    width: 47%; margin: 1.5%; float: left;
}
.review-block{
    margin-bottom: 20px;
}
.review-block div{
    background-color: #E8DC9B; font-size: 8pt; border: 2px solid gray;
    border-radius: 20px; padding: 8px; font-weight: bold;
}
.review-block div img{
    float: left; margin-right: 5px;
}
.review-block p{
    padding: 8px; margin-top: 1%;
}
.review-block p img{
    float: left; margin-right: 5px;
}

.container div.general-overview{
    width: 250px; float: left; background-color: #A2B964; border-radius: 0 20px 0 0;
}
div.general-overview > img{
    border-radius: 0 20px 0 0;
}
div.general-overview div.details{
    padding: 10pt; font-size: 8pt; font-family: Arial, Helvetica, sans-serif;
}
dl{    
    margin: 0%; padding: 0;
}

dt{
    font-weight: bold;
    padding-top: 10pt;        
}

dd{
    letter-spacing: normal;
}

.footer{
    text-align: center; background-color: #A2B964; border-radius: 0 0 17px 17px;
    padding: 4pt;
}

.validation{
    position: fixed; bottom: 2px; right: 1px;
}
.validation a{
    display: block; opacity: 0.5;
}
.validation a:hover{
    opacity: 1;
}